<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onnury.mapper.LabelMapper">

        <!-- 신 상품에 연관된 라벨 정보 리스트 -->
        <select id="getNewReleaseProductLabelInfo" parameterType="Long" resultType="com.onnury.label.response.NewReleaseProductLabelResponseDto">
            <!-- getNewReleaseProductLabelInfo -->
            select
                l.label_id as labelId,
                l.label_title as labelTitle,
                l.color_code as colorCode,
                l.start_post_date as startPostDate,
                l.end_post_date as endPostDate
            from
                label l
            inner join
                (select label_id from label_of_product where product_id = #{productId}) lop
            on
                l.label_id = lop.label_id;
        </select>

    <!-- 즁/소분류 제품 리스트 페이지에 같이 노출될 라벨 리스트 정보 -->
    <select id="getMiddleAndDownCategoryProductsRelatedLabelList" parameterType="Map" resultType="com.onnury.label.response.LabelResponseDto">
        <!-- getMiddleAndDownCategoryProductsRelatedLabelList -->
        select
            l.label_id as labelId,
            l.label_title as labelTitle
        from
            label l
        where
            (localtime() between l.start_post_date and l.end_post_date) and
            l.label_id in
            (select
                lop.label_id
            from
                label_of_product lop
            where
                lop.product_id in
                <foreach collection="productIdList" item="productId" index="index" open="(" close=")" separator=",">
                    #{productId}
                </foreach>
            group by
                lop.label_id)
    </select>

</mapper>